body {
    background: #007bff;
    background: #09427d;
    background-repeat: repeat-y;
    background-attachment: scroll;
  }
  
  .card-img-left {
    width: 45%;
    background: scroll center url('https://cdn.vox-cdn.com/thumbor/dvdUnYLB8PN-MJUzc5mTtlFUnVs=/0x0:4894x3195/1520x0/filters:focal(0x0:4894x3195):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/21882164/Lifestyle_5.jpg');
    background-size: cover;
  }
  
  .btn-login {
    background-color: #09427d;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  .container{
    padding-top: 70px;
  }