<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div
          class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden"
        >
          <div class="card-img-left d-none d-md-flex"></div>
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Registro Arsis</h5>
            <form [formGroup]="registerForm">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  formControlName = "nombrecompleto"
                  placeholder="Nombre Completo"
                  required
                />
                <label for="floatingInputName">Nombre Completo</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Email"
                  required
                />
                <label for="floatingInputEmail">Correo Electronico</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  formControlName="pass"
                  placeholder="Contraseña"
                  required
                />
                <label for="floatingPassword">Contraseña</label>
              </div>

              <div class="form-control mb-3">
                <label for="floatingUniversidad"
                  >Seleccione la institución a la cual pertenece:
                </label>
                <select formControlName="institucion" id="floatingUniversidad">
                  <option [ngValue]="null" disabled>Escoge tu institución</option>
                  <option *ngFor="let ins of allInstituciones" [ngValue]="ins">
                    {{ins}}
                  </option>
                </select>
              </div>

              <div class="form-control mb-3">
                <label for="tUsuario">¿Qué tipo de usuario es?: </label>
                <select formControlName="tipousuario" id="tUsuario">
                  <option [ngValue]="null" disabled>Escoge tu tipo de usuario</option>
                  <option *ngFor="let tip of alltipousuario" [ngValue]="tip">
                    {{tip}}
                  </option>
                </select>
              </div>

              <div class="d-grid mb-2">
                <button
                  class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
                  type="submit"
                  (click)="register()"
                >
                  Registrarse
                </button>
              </div>

              <a class="d-block text-center mt-2 small" routerLink="/login"
                >¿Ya tienes una cuenta? Ingresa</a
              >

              <hr class="my-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>